/ {
	leds: leds {
		compatible = "gpio-leds";
		led_1: led_1 {
			//gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>; // STM32
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>; // ESP32c6
			label = "LED 0";
		};
	};

	aliases {
		ledred = &led_1;
	};
};