/ {
	leds: leds {
		compatible = "gpio-leds";
		led_1: led_1 {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};

		led_2: led_2 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "LED 2";
		};
	};

	aliases {
		ledred = &led_1;
		ledgreen = &led_2;
	};
};